<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Testsite by madjo23</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Testsite</h1>
      <h2 class="project-tagline"></h2>
      <a href="https://github.com/madjo23/testSite" class="btn">View on GitHub</a>
      <a href="https://github.com/madjo23/testSite/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/madjo23/testSite/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <p>&lt;!DOCTYPE html&gt;

</p>
    
    
    POS SME





@import url("src/font_TH_Sarabun_New/fonts/thsarabunnew.css");

.mainPanel{
    display:block;
    
    top:0;                              left:0;                   z-index:1; 
    width: 100vw;                 height: 300vh; 
    
    background: url('background/city-dark.jpg') no-repeat 0 0; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    margin:0; padding:0;

        transform: translateZ( 0 );
        backface-visibility: hidden;
        transition: transform 0.6s ease-in-out;
}
/* -------------------------------------------------------------------------------- LogIn Panel ----------------------------------------------------------------------------------------------- */   
.mainPanel .loginPanel, .mainPanel .menuPanel, .mainPanel .workPanel{
    display: block;             z-index: 1;
    position: relative;        
    width: 100vw;       height: 100vh;
    background-color: rgba(23, 23, 23, 0.5);
}
.mainPanel .loginPanel .userProcess{
    display: block;            z-index: 0;
    position: absolute;     top: 10vh;              left: 0;            right: 0;           bottom: 0;
    margin-left: 10vw;
    width: 80vw;            height: 80vh;
    
    background-color: rgba(1, 38, 39, 0.9); 
    
    border: 1px solid rgba(10, 30, 10, 1);/*rgba(200, 200, 200, 1); rgba(50, 200, 8, 1); */
    border-radius: 15px;
}    
.mainPanel .loginPanel .userProcess:hover{
    border: 1px solid rgba(50, 200, 8, 1);
}

.mainPanel .loginPanel .userProcess .loginTopic{
    display:block;              position:relative;                   width:100%; 
    text-align:center; 
    font-size:7vh;              text-shadow: 2px 2px rgba( 44, 44, 44, 1); 
    color: rgba(50, 200, 8, 1);      margin-bottom: 3vh;
}
    
.mainPanel .loginPanel .userProcess .inputUser{
    height: 10vh;                                   font-size: 6vh;
    color: rgba(0, 70, 107, 1);               cursor: default;
    background-color: rgba(221, 235, 244, 0.5);
    border: 0;
}
.mainPanel .loginPanel .userProcess .inputUser:focus{
    color: rgba(0, 140, 214, 1);
    background-color: rgba(221, 235, 244, 1);
}
.mainPanel .loginPanel .userProcess .inputUser:hover{
    border-bottom: 3px solid yellow;
}
/* ----------------------------------------------------------------- Animation ----------------------------------------------------------------- */        
input[id='toggle-menuPanel']:checked ~ article.mainPanel{
        transform: translateY(  -100vh );
}
    
input[id='toggle-workPanel']:checked ~ article.mainPanel{
        transform: translateY(  -200vh );
}
 
/*    
    article.mainPanel section.loginPanel header.userProcess
    
#spinImg:hover{
    cursor: pointer;
    background: yellow url("img/man353.svg") no-repeat fixed center; 
    
    -webkit-animation: spin 4000ms infinite linear;
    animation: spin 4000ms infinite linear;
}
@keyframes spin {
    from {        transform: scale(1.0) rotate(0deg);    }
    to {        transform: scale(0.5) rotate(360deg);    }
}
*/
#spinImg:hover{
    cursor: pointer;
    background: none url("img/man353.svg") no-repeat fixed center; 
    border-bottom: 3px solid rgba(50, 200, 8, 1);
}
#spinImg:active{
    background-color: rgba(50, 200, 8, 1);
}
    
/* ----------------------------------------------------------------- Menu Panel ----------------------------------------------------------------- */ 
.mainPanel .menuPanel .exitIcon{
    display: block;               position: absolute; 
    top: 0;                          right: 0; 
    width: 5vh;                 height: 5vh;
    background-color: rgba(243, 159, 24, 1);
    border: 2px solid rgba(243, 159, 24, 1);
    cursor: pointer;
    
    transition: all 0.2s ease;
}
.mainPanel .menuPanel .exitIcon:hover{
    width: 10vh;                 height: 10vh;
    background-color: rgba(36, 196, 163, 1);
    border: 2px solid rgba(36, 196, 163, 1);
    box-shadow: 3px 3px rgba(243, 159, 24, 1);
}
.mainPanel .menuPanel .exitIcon:active{
    background-color: yellow;
    border: 2px solid yellow;
    box-shadow: 3px 3px white;
} 

.mainPanel .menuPanel .userPanel{
    display: block;                position: relative;      
    top: 0;                           left: 0;
    bottom: 0;                     right: 0;
    margin: auto;                margin-bottom: 5vh;
    width: 60vw;                 height: 55vh;
}
/* Header */
.mainPanel .menuPanel .userPanel .userHeaderPanel{
    display: block;          position: relative;
    top:0;                       left:0;
    width: 100%;          height: 25vh;
    padding-top: 2vh;
}
.mainPanel .menuPanel .userPanel .userHeaderPanel .sellBg{
    display: block;           position: relative;
    
    width: 80%;           height: 100%;     float: left;
    
    background: linear-gradient( yellow, yellow  50%, white 50%, white);
    background-size: 100% 200%;
    
    transition: all 0.2s ease;
}
.mainPanel .menuPanel .userPanel .userHeaderPanel .sellBg:hover{
    background-position: 100% 100%;
    box-shadow: 3px 3px grey;
}
/* work with .sellBg */
.mainPanel .menuPanel .userPanel .userHeaderPanel .sellBg .largeButton{
    display: block;            width: 100%;                 height: 100%;
    text-align: center; 
    font-size: 15vh;                  color: black;
    
    background-image: url('img/delivery36_64_black.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    
    transition: background-position .6s ease-in; 
}
.mainPanel .menuPanel .userPanel .userHeaderPanel .sellBg .largeButton:hover{
    color: black;
    background-position: right top;
}
.mainPanel .menuPanel .userPanel .userHeaderPanel .sellBg .largeButton:active{
    color: white;
    background-color: orange;
}

.mainPanel .menuPanel .userPanel .userHeaderPanel .sellBgEdit{
    display: block;           position: relative;   
    top: 0;                      left: 0;    
    width: 100%;           height: 100%;     float: right;
    
    background: linear-gradient( white, white  50%, rgba( 244, 122, 55, 1) 50%, rgba( 244, 122, 55, 1) );
    background-size: 100% 200%;

    transition: all 0.2s ease;
}
.mainPanel .menuPanel .userPanel .userHeaderPanel .sellBgEdit:hover{
    background-position: 100% 100%;
    box-shadow: 3px 3px grey;
}
    
.mainPanel .menuPanel .userPanel .userHeaderPanel .sellBgEdit .largeButtonEdit{
    display: block;            width: 100%;                 height: 100%;
    text-align: center; 
    font-size: 2vw;                  color: black;
    
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-position: 50% bottom;
}

/* Footer */
.mainPanel .menuPanel .userPanel .userFooterPanel{
    display: block;                    position: relative;
    margin-top: 3vh;
    width: 100%;                    height: 20vh;
}
.mainPanel .menuPanel .userPanel .userFooterPanel .smallFrame{
    display:block;                          position:relative;              float:left; 
    width:30%;                             height:100%; 
    text-align:center;
    cursor: pointer;
    
    background: linear-gradient( yellow, yellow  50%, white 50%, white);
    background-size: 100% 200%;
    
    transition: all 0.2s ease;
}
.mainPanel .menuPanel .userPanel .userFooterPanel .smallFrame:hover{
    background-position: 100% 100%;
    box-shadow: 3px 3px orange;
}

.mainPanel .menuPanel .userPanel .userFooterPanel .smallFrame .userSmallIcon, 
.mainPanel .menuPanel .userPanel .userFooterPanel .smallFrame .userSmallIcon1, 
.mainPanel .menuPanel .userPanel .userFooterPanel .smallFrame .userSmallIcon2{
    display: block; 
    width: 100%;                height: 100%;
    font-size: 6vh;               text-align: right;        font-weight: 500;           line-height: 2.5;       color: black;
    padding-right: 0.5vw;
    background-image: url('img/file148_64_black.svg');
    /*
    background-repeat: no-repeat; background-attachment: fixed; background-position: 50% bottom;
    */
    background-size: auto 95%;
    background-repeat: no-repeat;
    background-position: 0.5vw 0.5vh;

}
.mainPanel .menuPanel .userPanel .userFooterPanel .smallFrame .userSmallIcon:active {
    background-color: orange;
    box-shadow: 3px 3px white;
}
.mainPanel .menuPanel .userPanel .userFooterPanel .smallFrame .userSmallIcon1{
    background-image: url('img/debt_64_black.svg');
}
.mainPanel .menuPanel .userPanel .userFooterPanel .smallFrame .userSmallIcon2{
    background-image: url('img/memory.svg');
}
    
/* -------------------------------------------------------------------------------------- Admin Panel -------------------------------------------------------------------------------------- */
.mainPanel .menuPanel .adminPanel{
    display: block;                position: relative;      
    top: 0;                           left: 0;
    bottom: 0;                     right: 0;
    margin: auto;
    width: 60vw;                 height: 30vh;
}
    
.mainPanel .menuPanel .adminPanel .adminFrame{
    display: block;                         position: relative;              float:left; 
    width: 30%;                            height: 100%; 
    font-size: 5vh;                         text-align: right;
    cursor: pointer;
    
    background: linear-gradient( rgba( 244, 122, 55, 1), rgba( 244, 122, 55, 1)  50%, rgba(36, 196, 163, 1) 50%, rgba(36, 196, 163, 1) );
    background-size: 100% 200%;
    
    transition: all 0.2s ease;
}
.mainPanel .menuPanel .adminPanel .adminFrame:hover{
    background-position: 100% 100%;
}  
    
.mainPanel .menuPanel .adminPanel .userSmallIcon,
.mainPanel .menuPanel .adminPanel .userSmallIcon1,
.mainPanel .menuPanel .adminPanel .userSmallIcon2,
.mainPanel .menuPanel .adminPanel .userSmallIcon3,
.mainPanel .menuPanel .adminPanel .userSmallIcon4,
.mainPanel .menuPanel .adminPanel .userSmallIcon5{
    display: block; 
    width: 100%;                height: 100%;           padding-right: 0.5vw;
    font-size: 4vh;               text-align: right;        font-weight: 500;       color: black;       line-height: 2;
    word-break: keep-all;
    
    background-image: url('img/mind.svg');
    background-size: auto 95%;
    background-repeat: no-repeat;
    background-position: 0.5vw 0.5vh;
}
.mainPanel .menuPanel .adminPanel .userSmallIcon1{
    background-image: url('img/man251.svg');
}
.mainPanel .menuPanel .adminPanel .userSmallIcon2{
    background-image: url('img/commerce1.svg');
}
.mainPanel .menuPanel .adminPanel .userSmallIcon3{
    background-image: url('img/multiple25.svg');
}
.mainPanel .menuPanel .adminPanel .userSmallIcon4{
    background-image: url('img/banking2.svg');
}
.mainPanel .menuPanel .adminPanel .userSmallIcon5{
    background-image: url('img/store5.svg');
} 
    
/* ------------------------------------------------------------------------------- Work Panel --------------------------------------------------------------------------------------- */
.mainPanel .workPanel .menuIcon{
    display: block;             position: absolute; 
    top: 0;                        right: 0; 
    width: 5vh;                 height: 5vh;
    background-color: greenyellow;
    border: 2px solid greenyellow;
    cursor: pointer;
}
.mainPanel .workPanel .menuIcon:hover{
    background-color: white;
    border: 2px solid white;
    box-shadow: 3px 3px greenyellow;
}
.mainPanel .workPanel .menuIcon:active{
    background-color: orange;
    border: 2px solid orange;
    box-shadow: 3px 3px white;
}
/* -------------------------------------------------------- Download Init Data -------------------------------------------------------- */
#myDownload{
    position:relative;      color:white;        margin-left:2vw;        cursor: pointer;    font-weight: 500;       text-shadow: 2px 2px rgba(44, 44, 44, 1);
}
#myDownload:hover{
    color: yellow;
}
#myDownload:active{
    color: orange;
}


<p>
</p>



<pre><code>&lt;input type="checkbox" id="toggle-menuPanel" style="display:none;"&gt;
&lt;input type="checkbox" id="toggle-workPanel" style="display:none;"&gt;
&lt;header style="display:block; position:absolute; top:0; left:0; z-index: 999; margin:0; padding:0; color:white; visibility:hidden;"&gt;
    &lt;label style="cursor:pointer;" for="toggle-menuPanel" id="buttonMenu"&gt;menu&lt;/label&gt;
    &lt;label style="cursor:pointer;" for="toggle-workPanel" id="buttonWork"&gt;work&lt;/label&gt;
&lt;/header&gt;
&lt;article class="mainPanel"&gt;
    &lt;section class="loginPanel"&gt;
        &lt;header class="userProcess"&gt;
            &lt;label class="loginTopic"&gt;ใช้งาน ระบบ&lt;a id="myDownload" onclick="getInitDataModel()"&gt;&amp;#x2600;&lt;/a&gt;&lt;/label&gt;
            &lt;aside style="display:block; position:relative; float:left; width: 70%; height: 100%;"&gt;
                &lt;label style="display:block; position:relative; width:100%; height:10vh; margin-bottom:3vh;"&gt;
                    &lt;img src="img/deadlines_64.svg" width="10%" height="100%" style="position:absolute; margin-left: 10%;"&gt;
                    &lt;!-- DatePicker --&gt;
                    &lt;div style="display:block; width:100%; float:right;"&gt;
                        &lt;input class="inputUser" style="width:23%; float:right; text-align:right;" id="calendarYear" type="number" min="2557" max="2599" step="1" placeholder="ปี" value="2558"&gt;
                        &lt;select class="inputUser" style="width:20%; float:right; margin-right:5%; text-align:center;" id="calendarMonth"&gt;
</code></pre>

<p>ม.ค.
  ก.พ.
  มี.ค. 
  เม.ย.
  พ.ค.
  มิ.ย. 
  ก.ค.
  ส.ค.
  ก.ย. 
  ต.ค.
  พ.ย.
  ธ.ค.
                            
                            
                        
                    
                    
                        <img src="img/male80_64.svg" width="10%" height="100%">
                        
                    
                    
                        <img src="img/key64v2.svg" width="10%" height="100%">
                        
                    
                    
                        <img src="img/pendrive10_64.svg" width="10%" height="100%">
                        
                    
                
                 
                    
                    <img id="spinImg" src="img/man353.svg" width="100%" height="100%"> </p>



<pre><code>                &lt;/label&gt;
            &lt;/aside&gt;
        &lt;/header&gt;
    &lt;/section&gt;
    &lt;section class="menuPanel"&gt;
            &lt;img class="exitIcon" src="../aReal/img/arrow492.svg" ng-click="goLoginPanel()"&gt;
        &lt;header class="userPanel"&gt;
            &lt;!-- &lt;div style="display:block; padding-top:5vh;"&gt;&lt;/div&gt; --&gt;
            &lt;header class="userHeaderPanel"&gt;
                &lt;div style="display:block; position:relative; width:100%; height:100%; margin-bottom:5vh;"&gt;
                    &lt;label class="sellBg"&gt;
                        &lt;a class="largeButton" href="#/gotoSell" ng-click="gotoWork()"&gt;ขาย&lt;/a&gt;
                    &lt;/label&gt;
                    &lt;div style="display: block; position: relative; width: 18%; height: 100%; float: right;"&gt;
                        &lt;label class="sellBgEdit" style="margin-bottom:2vh;"&gt;
                             &lt;!-- &lt;a class="largeButtonEdit" href="#/gotoEditSell" ng-click="gotoWork()"&gt;แก้ขาย&lt;/a&gt; --&gt;
                            &lt;a class="largeButtonEdit" href="#/gotoEditSell" ng-click="gotoWork()"&gt;
                                &lt;label style="display:block; width:100%; height:100%; background-image: url('/img/config.svg'); background-repeat: no-repeat; background-size: 100% 100%;"&gt;แก้ขาย&lt;/label&gt;
                            &lt;/a&gt;
                        &lt;/label&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/header&gt;
            &lt;footer class="userFooterPanel"&gt;
                &lt;label class="smallFrame"&gt;
                    &lt;a class="userSmallIcon" href="#/gotoReport" ng-click="gotoWork()"&gt;รายงาน&lt;/a&gt;
                &lt;/label&gt;
                &lt;label class="smallFrame" style="margin-left:5%; margin-right:5%;"&gt;
                    &lt;a class="userSmallIcon1" href="#/gotoDebt" ng-click="gotoWork()"&gt;ลูกหนี้&lt;/a&gt;
                &lt;/label&gt;
                &lt;label class="smallFrame"&gt;
                    &lt;a class="userSmallIcon2" style="line-height:1.4;" href="#/gotoUSB" ng-click="gotoWork()" &gt;สำรอง&lt;br&gt;ข้อมูล&lt;/a&gt;
                &lt;/label&gt;
            &lt;/footer&gt;
        &lt;/header&gt;
        &lt;footer class="adminPanel" id="adminPanel"&gt;
             &lt;div style="display:block; position:relative; width:100%; height:14vh; color:white;"&gt;
                 &lt;label class="adminFrame"&gt;
                    &lt;a class="userSmallIcon"  href="#/gotoEditProduct" ng-click="gotoWork()"&gt;สินค้า ขาย&lt;/a&gt;
                 &lt;/label&gt;
                 &lt;label class="adminFrame" style="margin-left:5%; margin-right:5%;"&gt;
                    &lt;a class="userSmallIcon1"  style="line-height:1.7;"  href="#/gotoEditProductItem" ng-click="gotoWork()"&gt;สินค้า&lt;br&gt;พื้นฐาน&lt;/a&gt;
                 &lt;/label&gt;
                 &lt;label class="adminFrame"&gt;
                    &lt;a class="userSmallIcon2"  href="#/gotoEditPayment" ng-click="gotoWork()"&gt;จ่ายเงิน&lt;/a&gt;
                 &lt;/label&gt;
             &lt;/div&gt;
             &lt;div style="display:block; position:relative; width:100%; height:14vh; margin-top:1vh; color:white"&gt;
                 &lt;label class="adminFrame"&gt;
                     &lt;a class="userSmallIcon3"  href="#/gotoEditCustomer" ng-click="gotoWork()"&gt;ลูกค้า&lt;/a&gt;
                 &lt;/label&gt;
                 &lt;label class="adminFrame" style="margin-left:5%; margin-right:5%;"&gt;
                     &lt;a class="userSmallIcon4"  href="#/gotoEditFinance" ng-click="gotoWork()"&gt;ธนาคาร&lt;/a&gt;
                 &lt;/label&gt;
                 &lt;label class="adminFrame"&gt;
                     &lt;a class="userSmallIcon5" id="myShop" href="#/gotoEditShop" ng-click="gotoWork()"&gt;ร้านค้า&lt;/a&gt;
                 &lt;/label&gt;
                 &lt;label style="display:none;"&gt;
                     &lt;a id="myBlankPage" href="#/gotoBlank"&gt;&lt;/a&gt;
                 &lt;/label&gt;
             &lt;/div&gt;
        &lt;/footer&gt;
    &lt;/section&gt;
    &lt;section class="workPanel" style="padding-top:0;"&gt;
            &lt;img class="menuIcon" src="../aReal/img/arrow492.svg" ng-click="goMenuPanel()"&gt;
        &lt;div id="newApp" style="display:block; position:relative; top:0; left:0; bottom:0; right:0; width:100vw; height: 100vh; margin:0;" ng-view&gt;&lt;/div&gt;
    &lt;/section&gt;
&lt;/article&gt;
</code></pre>



































<p>
</p>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/madjo23/testSite">Testsite</a> is maintained by <a href="https://github.com/madjo23">madjo23</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
